@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', 'Open Sans', Helvetica;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header, .hero, .footer {
    display: flex;
    background-color: #1F2837;
}

.infoheader {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    background-color:#F9FAF8;
 
}

.information {
    height: 250px;
    display: flex;
    background-color:#F9FAF8;
    justify-content: center;
    text-align: center;
    gap: 20px;
    align-items: flex-start;
}

.calltoaction{
    height: 250px;
}

.imageinfo{
    width: 150px;
    flex: 0 0 auto;
}

.information img{
    height: 100px;
    width: 100px;
}

.hero{
    flex: 1 1 auto;
    color: #F9FAF8;
    height: 300px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

img{
    border: 2px solid #3982F6;
    padding: 5px;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    
}

.quoteband{
    height: 250px;
    background-color: #E5E7EB;
}

.footer {
    color: #E5E7EB;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}