@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', 'Open Sans', Helvetica;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header, .hero, .footer {
    padding: 0 125px;
    display: flex;
    background-color: #1F2837;
    align-items: center;
}

.footer{
    height: 100px;
}

.header {
    height: 50px;
}

.header a{
    margin-left: 20px;
}

.infoheader {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    background-color:#F9FAF8;
 
}

.information {
    height: 250px;
    display: flex;
    background-color:#F9FAF8;
    justify-content: center;
    text-align: center;
    gap: 20px;
    align-items: flex-start;
}

.callband{
    height: 300px;
    padding: 0 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calltoact{
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    height: 120px;
    border: 2px solid #3882F6;
    padding: 2px;
    border-radius: 8px;
    color: #E5E7EB;
}


.calltext h3, p{
    margin: 5px;
}

.callbutton {
    border: 2px solid #E5E7EB;
    padding: 5px 25px;
    border-radius: 5px;
}

.imageinfo{
    width: 150px;
    flex: 0 0 auto;
}

.information img{
    height: 100px;
    width: 100px;
}

.hero{
    flex: 1 0 auto;
    color: #F9FAF8;
    height: 300px;
    display: flex;
    justify-content: space-between;

}

.heroimage, .heroleft{
    flex: 0 0 auto;
    height: 150px;
    width: 350px;
}

.heroleft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.herotext{
    font-size: 32px;
    font-weight: 700;
}

.heroexplain{
    font-size: 14px;
}

.signbutton{
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 6px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.imageinfo img{
    border: 2px solid #3982F6;
    padding: 5px;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    
}

.quoteband{
    height: 300px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotebox{
    width: 500px;
    height: 150px;
    flex: 0 1 auto;
}

.quote{
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
    height: 100px;
    flex: 1 1 auto;
}

.quotation{
    text-align: right;
    font-weight: bold;
    margin-right: 40px;
}

.footer {
    color: #E5E7EB;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}